### Metrics-6b: Variations on fastai.Tabular
Study the change in perf for a variety of alterations to the modelling with fastai.Tabular

Variations:
 - concise X vs. all pts X vs. all pix + pts X
 - normalized x vs unnormalized
 - normalized y vs unnormalized
 - topleft vs center
 - number of fit epochs

In [1]:
import os, sys
import copy as copyroot
import pandas as pd
from IPython.display import display
from matplotlib import pyplot as plt

from fastai2.basics import *
from fastai2.tabular.all import *

from sklearn.preprocessing import Normalizer, StandardScaler
from sklearn.metrics import r2_score

%load_ext autoreload
%autoreload 2

from module.mnist_helpers import build_df, build_tabular_df, build_dls
from module.mnist_metrics import metrics_df

In [35]:
path = untar_data(URLs.MNIST_TINY)
X, Y = build_tabular_df(path)

In [36]:
dls_tl = build_dls(target='topleft')

point_t = dls_tl.transform[1][1]
scale_t = dls_tl.after_item
def my_scale(x): return scale_t(point_t(x))

Y = pd.DataFrame(
        torch.cat( ( my_scale(Y.iloc[:,1:3]), 
                     my_scale(Y.iloc[:,3:5]) ), axis=1),
        columns = Y.columns[1:])

In [38]:
y_tl_cols = ['point_topleft_x', 'point_topleft_y']
y_cr_cols = ['point_center_x',  'point_center_y']

In [39]:
restrict_cols = ["pts22_5","pts22_29","pts22_21","pts11_0",
                "pts12_4", "pts11_2"]
pts_cols      = [col for col in X.columns if 'pts' in str(col)]
all_cols      = [col for col in X.columns]

In [40]:
def grid(d):
    ret = [{}]
    for param_name, values in d.items():
        old_ret = ret.copy()
        new_ret = []
        for value in values:
            for item in old_ret:
                item = item.copy()
                item[param_name] = value
                new_ret.append(item)
                ret = new_ret.copy()
    return ret

In [47]:
d_params = {'target_ind':[0,1],
            'x_sz_enum': [0,1,2],
            'x_norm':    [True, False],
            'y_norm':    [True, False],
            'epochs':    [10,40],
           }

# quick debug mode
# d_params = {'target_ind':[0,1],
#             'x_sz_enum': [0,1,2],
#             'x_norm':    [True, False],
#             'y_norm':    [True, False],
#             'epochs':    [3],
#            }

In [48]:
params = grid(d_params)
print(len(params))
# params[:3]

48

In [ ]:
t0 = time.time()
ledger = []
for param in grid(d_params):
    
    y_cols = [y_tl_cols, y_cr_cols][param['target_ind']]
    
    x_cols = [restrict_cols, pts_cols, all_cols][param['x_sz_enum']]
        
    data = pd.concat((X[x_cols], Y[y_cols]), axis=1)
    
    epochs = param['epochs']
    
    procs =  []
    if param['x_norm']: procs += [Normalize]
    
    ss = None
    if param['y_norm']:
        ss = StandardScaler()
        ss.fit(data[y_cols])
        data[y_cols] = ss.transform(data[y_cols])
        
    dls = TabularDataLoaders.from_df(data, 
                                     path='.', 
                                     y_names=y_cols,
                                     procs=procs)
    
    learn = tabular_learner(dls,)
    
    with learn.no_logging():
        learn.fit(epochs)
    
    s_details =   ''
    s_details += f"x={['restrict', 'pts', 'all'][param['x_sz_enum']]} "
    s_details += f"y_norm={param['y_norm']} "
    s_details += f"x_norm={param['x_norm']} "
    s_details += f"epochs={param['epochs']} "
    
    s_target = ["topleft", "center"][param["target_ind"]]
    
    metrics = metrics_df(learn,
                         s_model="fastTab1.2",
                         s_details=s_details,
                         s_target=s_target,
                         y_scaler=ss)
    
    ledger.append(metrics)

print(f"{round(time.time() - t0, 0)} secs")

#### Join Tables

In [53]:
df = pd.concat(ledger)
print(df.shape)
df.head(2)

(96, 11)

,model,details,target,split,mse,mae,r2,dist_avg,dist_r2,sqdist_avg,sqdist_r2
0,fastTab1.2,x=restrict y_norm=True x_norm=True epochs=10,topleft,valid,0.000275,0.010506,0.995243,0.018657,0.920853,0.000549,0.992777
1,fastTab1.2,x=restrict y_norm=True x_norm=True epochs=10,topleft,train,0.000276,0.010818,0.994929,0.019155,0.916686,0.000552,0.992422

#### Create New Cols from details

In [62]:
feats = ['x_cols','y_norm', 'x_norm', 'epochs']
for i, name in enumerate(feats):
    
    df[name] = df['details'].apply(
                    lambda s: s.split(' ')[i].split('=')[1])

In [90]:
cols = []
cols += list(df.columns[:3])
cols += list(df.columns[-4:])
cols += [e for e in df.columns if e not in cols]
df = df[cols]

#### Pivot on `x_cols`
Still have problems with all_cols...discard these from analysis

In [77]:
tmp = df[(df['target'] == 'topleft') & (df['split'] == 'valid')]

In [81]:
tmp.groupby('x_cols').agg(['min','mean','max'])['mse'].round(4)

                min          mean           max
x_cols
all       1951.0884  1.243754e+20  7.619093e+20
pts          0.0003  1.600000e-03  3.400000e-03
restrict     0.0001  9.000000e-04  2.200000e-03

In [82]:
tmp = df[ (  (df['target'] == 'topleft') 
           & (df['split']  == 'valid')
           & (df['x_cols'] != 'all')    )]

In [84]:
for feat in feats:
    display(tmp.groupby(feat).agg(['min', 'mean','max'])['mse'].round(4))

             min    mean     max
x_cols
pts       0.0003  0.0016  0.0034
restrict  0.0001  0.0009  0.0022

           min    mean     max
y_norm
False   0.0007  0.0022  0.0034
True    0.0001  0.0003  0.0005

           min    mean     max
x_norm
False   0.0001  0.0011  0.0026
True    0.0002  0.0013  0.0034

           min    mean     max
epochs
10      0.0001  0.0011  0.0029
40      0.0002  0.0013  0.0034

Surprsing: epochs=10 outperfroms 40, and x_norm hurts us.

turning on y_norm has the biggest effect

In [85]:
for feat in feats:
    display(tmp.groupby(feat).agg(['min', 'mean','max'])['r2'].round(4))

             min    mean     max
x_cols
pts       0.8149  0.9207  0.9932
restrict  0.8210  0.9471  0.9965

           min    mean     max
y_norm
False   0.8149  0.8745  0.9428
True    0.9889  0.9932  0.9965

           min    mean     max
x_norm
False   0.8210  0.9319  0.9945
True    0.8149  0.9358  0.9965

           min    mean     max
epochs
10      0.8149  0.9390  0.9952
40      0.8210  0.9287  0.9965

We also see that going from x_cols restrict -> pts has a negative effect, but not much.

In [97]:
tmp = df[ (  (df['split']  == 'valid')
           & (df['x_cols'] != 'all')    )]

for feat in feats:
    display(tmp.groupby(['target', feat]).agg(['min', 'mean','max'])['r2'].round(4))

                     min    mean     max
target  x_cols
center  pts       0.6683  0.8858  0.9724
        restrict  0.2343  0.4347  0.5509
topleft pts       0.8149  0.9207  0.9932
        restrict  0.8210  0.9471  0.9965

                   min    mean     max
target  y_norm
center  False   0.2343  0.5880  0.8663
        True    0.4525  0.7325  0.9724
topleft False   0.8149  0.8745  0.9428
        True    0.9889  0.9932  0.9965

                   min    mean     max
target  x_norm
center  False   0.2343  0.6623  0.9724
        True    0.3234  0.6582  0.9718
topleft False   0.8210  0.9319  0.9945
        True    0.8149  0.9358  0.9965

                   min    mean     max
target  epochs
center  10      0.4525  0.6637  0.9724
        40      0.2343  0.6568  0.9718
topleft 10      0.8149  0.9390  0.9952
        40      0.8210  0.9287  0.9965

For the center task, it's actually better to have the all features frompts in x_cols (which makes sense because there's no perfect predictor feature.) So feature avaialbility is a t a premium on the center task, followed by y_norm'ing. In this case, x_norm'ing does sometimes help, especially with bad fits.

#### Display Topleft + Valid

In [92]:
tmp = df[(df['target'] == 'topleft') & (df['split'] == 'valid')]
tmp.sort_values(by='mse', ascending=True).round(4)

,model,details,target,x_cols,y_norm,x_norm,epochs,split,mse,mae,r2,dist_avg,dist_r2,sqdist_avg,sqdist_r2
0,fastTab1.2,x=restrict y_norm=True x_norm=False epochs=10,topleft,restrict,True,False,10,valid,1.000000e-04,7.700000e-03,9.945000e-01,1.230000e-02,9.460000e-01,2.000000e-04,9.974000e-01
0,fastTab1.2,x=restrict y_norm=True x_norm=True epochs=40,topleft,restrict,True,True,40,valid,2.000000e-04,8.500000e-03,9.965000e-01,1.430000e-02,9.404000e-01,3.000000e-04,9.959000e-01
0,fastTab1.2,x=restrict y_norm=True x_norm=True epochs=10,topleft,restrict,True,True,10,valid,3.000000e-04,1.050000e-02,9.952000e-01,1.870000e-02,9.209000e-01,5.000000e-04,9.928000e-01
0,fastTab1.2,x=pts y_norm=True x_norm=True epochs=10,topleft,pts,True,True,10,valid,3.000000e-04,1.100000e-02,9.932000e-01,1.870000e-02,9.217000e-01,6.000000e-04,9.927000e-01
0,fastTab1.2,x=pts y_norm=True x_norm=False epochs=40,topleft,pts,True,False,40,valid,3.000000e-04,1.240000e-02,9.927000e-01,2.040000e-02,9.203000e-01,6.000000e-04,9.937000e-01
0,fastTab1.2,x=pts y_norm=True x_norm=True epochs=40,topleft,pts,True,True,40,valid,3.000000e-04,1.180000e-02,9.921000e-01,1.970000e-02,9.175000e-01,6.000000e-04,9.924000e-01
0,fastTab1.2,x=restrict y_norm=True x_norm=False epochs=40,topleft,restrict,True,False,40,valid,4.000000e-04,1.230000e-02,9.929000e-01,2.150000e-02,9.067000e-01,7.000000e-04,9.901000e-01
0,fastTab1.2,x=pts y_norm=True x_norm=False epochs=10,topleft,pts,True,False,10,valid,5.000000e-04,1.460000e-02,9.889000e-01,2.430000e-02,9.081000e-01,9.000000e-04,9.903000e-01
0,fastTab1.2,x=restrict y_norm=False x_norm=False epochs=10,topleft,restrict,False,False,10,valid,7.000000e-04,1.990000e-02,9.428000e-01,3.130000e-02,8.634000e-01,1.300000e-03,9.817000e-01
0,fastTab1.2,x=restrict y_norm=False x_norm=True epochs=40,topleft,restrict,False,True,40,valid,1.400000e-03,2.870000e-02,8.963000e-01,4.410000e-02,8.142000e-01,2.900000e-03,9.622000e-01
0,fastTab1.2,x=restrict y_norm=False x_norm=True epochs=10,topleft,restrict,False,True,10,valid,1.900000e-03,3.110000e-02,9.374000e-01,5.180000e-02,7.654000e-01,3.800000e-03,9.402000e-01
0,fastTab1.2,x=restrict y_norm=False x_norm=False epochs=40,topleft,restrict,False,False,40,valid,2.200000e-03,3.750000e-02,8.210000e-01,5.850000e-02,7.657000e-01,4.400000e-03,9.476000e-01
0,fastTab1.2,x=pts y_norm=False x_norm=False epochs=40,topleft,pts,False,False,40,valid,2.500000e-03,3.840000e-02,8.775000e-01,5.980000e-02,7.500000e-01,4.900000e-03,9.349000e-01
0,fastTab1.2,x=pts y_norm=False x_norm=False epochs=10,topleft,pts,False,False,10,valid,2.600000e-03,3.820000e-02,8.453000e-01,5.910000e-02,7.287000e-01,5.200000e-03,9.154000e-01
0,fastTab1.2,x=pts y_norm=False x_norm=True epochs=10,topleft,pts,False,True,10,valid,2.900000e-03,4.170000e-02,8.149000e-01,6.550000e-02,7.115000e-01,5.800000e-03,9.213000e-01
0,fastTab1.2,x=pts y_norm=False x_norm=True epochs=40,topleft,pts,False,True,40,valid,3.400000e-03,4.340000e-02,8.609000e-01,7.050000e-02,6.974000e-01,6.900000e-03,9.044000e-01
0,fastTab1.2,x=all y_norm=True x_norm=False epochs=10,topleft,all,True,False,10,valid,1.951088e+03,5.025000e+00,-3.406475e+04,8.874000e+00,-3.581370e+01,3.902177e+03,-5.046102e+04
0,fastTab1.2,x=all y_norm=True x_norm=False epochs=40,topleft,all,True,False,40,valid,3.475992e+03,5.596100e+00,-6.238567e+04,9.523700e+00,-3.881270e+01,6.951985e+03,-8.803125e+04
0,fastTab1.2,x=all y_norm=False x_norm=False epochs=10,topleft,all,False,False,10,valid,4.611838e+04,2.872160e+01,-1.328121e+06,4.616630e+01,-2.157127e+02,9.223678e+04,-1.514660e+06
0,fastTab1.2,x=all y_norm=False x_norm=False epochs=40,topleft,all,False,False,40,valid,6.716094e+06,3.492709e+02,-4.823659e+08,5.165007e+02,-2.135986e+03,1.343219e+07,-1.642830e+08
0,fastTab1.2,x=all y_norm=True x_norm=True epochs=10,topleft,all,True,True,10,valid,3.920300e+17,7.353632e+07,-9.318110e+18,1.283478e+08,-5.663596e+08,7.840600e+17,-1.128590e+19
0,fastTab1.2,x=all y_norm=False x_norm=True epochs=10,topleft,all,False,True,10,valid,8.018232e+19,7.386704e+08,-7.696443e+21,1.082761e+09,-4.609600e+09,1.603646e+20,-2.115987e+21
0,fastTab1.2,x=all y_norm=True x_norm=True epochs=40,topleft,all,True,True,40,valid,1.525198e+20,1.495761e+09,-1.687521e+22,2.395607e+09,-1.061399e+10,3.050396e+20,-4.460256e+21
0,fastTab1.2,x=all y_norm=False x_norm=True epochs=40,topleft,all,False,True,40,valid,7.619093e+20,2.505001e+09,-7.954737e+22,4.029497e+09,-1.774456e+10,1.523819e+21,-2.169624e+22

#### Display Center + Valid

In [95]:
tmp = df[(df['target'] == 'center') & (df['split'] == 'valid')]
tmp.sort_values(by='mse', ascending=True).round(4)

,model,details,target,x_cols,y_norm,x_norm,epochs,split,mse,mae,r2,dist_avg,dist_r2,sqdist_avg,sqdist_r2
0,fastTab1.2,x=pts y_norm=True x_norm=True epochs=40,center,pts,True,True,40,valid,1.000000e-04,8.700000e-03,9.718000e-01,1.440000e-02,8.628000e-01,3.000000e-04,9.797000e-01
0,fastTab1.2,x=pts y_norm=True x_norm=True epochs=10,center,pts,True,True,10,valid,1.000000e-04,8.900000e-03,9.669000e-01,1.470000e-02,8.519000e-01,3.000000e-04,9.753000e-01
0,fastTab1.2,x=pts y_norm=True x_norm=False epochs=10,center,pts,True,False,10,valid,2.000000e-04,8.900000e-03,9.724000e-01,1.440000e-02,8.683000e-01,3.000000e-04,9.781000e-01
0,fastTab1.2,x=pts y_norm=True x_norm=False epochs=40,center,pts,True,False,40,valid,2.000000e-04,8.400000e-03,9.691000e-01,1.370000e-02,8.704000e-01,3.000000e-04,9.771000e-01
0,fastTab1.2,x=pts y_norm=False x_norm=True epochs=40,center,pts,False,True,40,valid,8.000000e-04,2.290000e-02,8.663000e-01,3.560000e-02,6.779000e-01,1.700000e-03,8.859000e-01
0,fastTab1.2,x=pts y_norm=False x_norm=False epochs=40,center,pts,False,False,40,valid,9.000000e-04,2.290000e-02,8.582000e-01,3.590000e-02,6.653000e-01,1.700000e-03,8.737000e-01
0,fastTab1.2,x=pts y_norm=False x_norm=False epochs=10,center,pts,False,False,10,valid,1.300000e-03,2.710000e-02,8.138000e-01,4.310000e-02,6.084000e-01,2.600000e-03,8.256000e-01
0,fastTab1.2,x=restrict y_norm=True x_norm=False epochs=10,center,restrict,True,False,10,valid,2.000000e-03,2.940000e-02,4.954000e-01,5.150000e-02,4.741000e-01,4.000000e-03,6.541000e-01
0,fastTab1.2,x=pts y_norm=False x_norm=True epochs=10,center,pts,False,True,10,valid,2.100000e-03,3.310000e-02,6.683000e-01,5.310000e-02,5.111000e-01,4.200000e-03,7.043000e-01
0,fastTab1.2,x=restrict y_norm=True x_norm=True epochs=40,center,restrict,True,True,40,valid,2.100000e-03,3.220000e-02,5.509000e-01,5.360000e-02,4.772000e-01,4.300000e-03,6.756000e-01
0,fastTab1.2,x=restrict y_norm=True x_norm=True epochs=10,center,restrict,True,True,10,valid,2.300000e-03,3.040000e-02,4.525000e-01,5.500000e-02,4.507000e-01,4.600000e-03,6.184000e-01
0,fastTab1.2,x=restrict y_norm=True x_norm=False epochs=40,center,restrict,True,False,40,valid,2.400000e-03,3.190000e-02,4.807000e-01,5.550000e-02,4.518000e-01,4.700000e-03,6.145000e-01
0,fastTab1.2,x=restrict y_norm=False x_norm=True epochs=10,center,restrict,False,True,10,valid,2.400000e-03,3.210000e-02,4.653000e-01,5.450000e-02,4.722000e-01,4.800000e-03,6.169000e-01
0,fastTab1.2,x=restrict y_norm=False x_norm=False epochs=10,center,restrict,False,False,10,valid,2.700000e-03,3.830000e-02,4.748000e-01,6.180000e-02,3.583000e-01,5.400000e-03,5.409000e-01
0,fastTab1.2,x=restrict y_norm=False x_norm=True epochs=40,center,restrict,False,True,40,valid,3.600000e-03,4.270000e-02,3.234000e-01,6.990000e-02,3.217000e-01,7.200000e-03,4.531000e-01
0,fastTab1.2,x=restrict y_norm=False x_norm=False epochs=40,center,restrict,False,False,40,valid,3.700000e-03,4.320000e-02,2.343000e-01,6.870000e-02,2.954000e-01,7.500000e-03,3.726000e-01
0,fastTab1.2,x=all y_norm=False x_norm=False epochs=10,center,all,False,False,10,valid,3.153246e+03,4.787200e+00,-6.021342e+05,6.806100e+00,-6.766080e+01,6.306491e+03,-5.240171e+05
0,fastTab1.2,x=all y_norm=True x_norm=False epochs=10,center,all,True,False,10,valid,1.529311e+04,1.804400e+01,-2.218183e+06,2.658460e+01,-2.545097e+02,3.058622e+04,-2.297400e+06
0,fastTab1.2,x=all y_norm=True x_norm=False epochs=40,center,all,True,False,40,valid,1.011930e+06,1.451145e+02,-1.184059e+08,2.454376e+02,-2.246858e+03,2.023860e+06,-1.383469e+08
0,fastTab1.2,x=all y_norm=False x_norm=False epochs=40,center,all,False,False,40,valid,7.926275e+07,7.792818e+02,-1.769980e+10,1.385880e+03,-1.318458e+04,1.585255e+08,-1.184692e+10
0,fastTab1.2,x=all y_norm=True x_norm=True epochs=10,center,all,True,True,10,valid,6.805003e+17,9.817792e+07,-1.136735e+20,1.512516e+08,-1.430922e+09,1.361001e+18,-1.017220e+20
0,fastTab1.2,x=all y_norm=False x_norm=True epochs=10,center,all,False,True,10,valid,2.293206e+18,1.901615e+08,-2.798863e+20,3.203870e+08,-3.040397e+09,4.586412e+18,-3.440450e+20
0,fastTab1.2,x=all y_norm=True x_norm=True epochs=40,center,all,True,True,40,valid,6.349480e+19,5.692235e+08,-8.118709e+21,1.053129e+09,-1.077821e+10,1.269896e+20,-1.074518e+22
0,fastTab1.2,x=all y_norm=False x_norm=True epochs=40,center,all,False,True,40,valid,1.342612e+20,1.321979e+09,-2.790323e+22,2.202922e+09,-2.228763e+10,2.685224e+20,-2.287292e+22

#### Save

In [94]:
df.to_csv('assets/metrics6b-fasttab-grid.csv', index=False)

#### Plots
Maybe with log scaling?